<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="cl">
        <ul class="d">
            <li><a href="#" style="color: aliceblue;">Helpline:+123456789</a></li>
            <li><a href="#" style="color: aliceblue;">English</a></li>
        </ul>
    </div>
    <marquee  style="background-color: tan;color:crimson;">Hi welcome to all  <span style="color: green;">new update</span></marquee>
    <nav>
   <div>
    <div><h2>DAIRY FARM</h2></div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">contact us</a></li>
    </ul>
   </div>
   </nav>
   <div class="tr">
<p style="color: yellow;">Every one needs milk</p>

<h2 style="color: aliceblue;">DAIRY ALWAYS<br>A GOOD CHOICE</h2>

<p style="color: cornsilk;">Make your Day A little sweeter Everyday is<br>A Good Day To Be The Dairy Farm</p>
<button style="color: ghostwhite;"> viewproduct</button>
<div class="er">
    <ul>
        <li><a href="#">Shipping|</a></li>
        <li><a href="#">Payment|</a></li>
        <li><a href="#"> 100% Organic|</a></li>
        <li><a href="#">Delivery</a></li>

    </ul>

</div>
</div>
</body>
</html>